body{
    background-color: rgb(228, 207, 249);
}

.nav1{
    background-color:rgb(143, 70, 216);
}

.clima-localidad{
    background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.197)), url('/assets/img/cielo-azul-fondo-clima-nubes_261642-70.avif');
    background-size: cover; 
    background-position: center;

}

.btn-detalles{

    background-color: #8a11c6fa;
    border: none;
    font-style: italic;
    position: relative;
}

.bg-end{
    background-color:rgb(212, 179, 245);
}

.weather-icon
{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    
}

.clima-localidad-detalle{
    background:linear-gradient(rgba(210, 191, 191, 0), rgba(26, 2, 2, 0.197)), url('/assets/img/cielo-azul-fondo-clima-nubes_261642-70.avif');
    background-size: cover; 
    background-position: center;
}